/* some custom class */

.page {
	width: 90%;
	margin: 0px auto;
}

div#particles-js {
    height: 320px;
    background-color: #2f3133;
}

/* Header css */

.header {
	/* min-height: 320px;
	background-image: url('data.jpg');
	background-repeat: no-repeat;
	background-size: cover; */

	.navbar {
		margin-bottom: 0;
		border: 0;
		font-size: 16px;
		border-radius: 0;

		position: sticky;
	    top: 0;
	    z-index: 1;

		.navbar-brand {
			font-size: 20px;
			color: white;
		}
	}

	.navbar-inverse {
		background-color: #1e2021;

		.navbar-nav {
			li {
				a {
					color: white;

					&:hover {
						color: #6d6f73;
						background-color: white;
					}
				}
			}

			li.active {
				a {
					color: #6d6f73;
					background-color: white;
				}
			}
		}
	}

	.navbar-collapse, .navbar-toggle {
		border-color: white;
	}

	.navbar-toggle {
		&:hover, &:focus {
			background-color: transparent;
		}
	}

	.project-name {
	    text-align: center;
	    color: white;
	    font-size: 50px;
	    /* margin: 90px 0 0 0; */
	    position: absolute;
	    width: 100%;
	    top: 155px;
	}
}

/* Content css */

.content {
	font-size: 25px;
	color: black;

	h3 {
		font-size: 30px;
	}

	li {
		line-height: 45px;
	}

	.description {
	    line-height: 40px;
	    margin: 25px 0px;
	    text-align: left;
	}
}